<!DOCTYPE html>

<html>
    <head>
        <title>Kickstarter Prediction - {{ title }}</title> 
        <!--link rel="stylesheet" href="https://unpkg.com/picnic"/-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    </head>
    <body>
        <div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; height: 30vh; cursor: default;">
            <div style="width: 100%; cursor: inherit;"><div style="width: 100%; height: 100%;">
                <img src="static/img/Spotify.jpg"
                style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 50%;">
            </div></div>
        </div>
        <h2>About us</h2>
        Here are a few links for each member of our team:<br/><br/>
        Daniel Ferber: <a href="https://www.linkedin.com/in/daniel-ferber/" target="_blank"><input type="submit" value="LinkedIn"></a>
        <a href="https://github.com/Daos21912" target="_blank"><input type="submit" value="Github"></a><br/>
        <br/>
        Alex Lucchesi: <a href="https://www.linkedin.com/in/lucchesia75/" target="_blank"><input type="submit" value="LinkedIn"></a>
        <a href="https://github.com/lucchesia7" target="_blank"><input type="submit" value="Github"></a><br/>
        <br/>
        Luke Sislowski: <a href="https://www.linkedin.com/in/luke-sislowski/" target="_blank"><input type="submit" value="LinkedIn"></a> 
        <a href="https://github.com/LSislowski" target="_blank"><input type="submit" value="Github"></a><br/>
        <br/>
    </body>
</html>