<!DOCTYPE html>

<html>
    <head>
        <title>Spotify Song Recommender - {{ title }}</title>
        <!--link rel="stylesheet" href="https://unpkg.com/picnic"/-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    </head>

    <body>
        <div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; height: 30vh; cursor: default;">
            <div style="width: 100%; cursor: inherit;"><div style="width: 100%; height: 100%;">
                <img src="static/img/Spotify.jpg"
                style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 50%;">
            </div></div>
        </div>
        <h2>The result of your selection:</h2>
        Here are a few recommended songs: <br/>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <div>
        {% for table in df %}
            {{table|safe}}
        {% endfor %}
        </div>
        <h6>*The distance column is a Euclidian distance. Read more about this in our "Model Info" section</h6>
        <br/><br/>
        <a href="/input"><input type="submit" value="Return to Prediction"></a>
        <a href="/"><input type="submit" value="Return Home"></a>
    </body>
</html>